# Ficheiros para serem ignorados pelo git

# Logs
*.log

# JetBrains IDE
.idea/

# Generado por MacOS
.DS_Store

# Gerado por Windows
Thumbs.db

# Aplicações
*.app
*.war

# Ficheiros de mídia(grandes)
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Ficheiros de teste de php/Javascript
testes.php
testes.js

# Ficheiro de configurações do doxygen
Doxyfile